name: Post merge

on:
  pull_request:
    types: [closed]

jobs:
  build-test-release:
    if: github.event.action == 'closed' && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    env:
      ARTIFACTORY_AUTH_TOKEN: ${{secrets.ARTIFACTORY_AUTH_TOKEN}}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.CI_REPOSITORY_ACCESS_TOKEN }}

      - name: Setup NodeJS 14
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Install yarn
        run: npm install -g yarn

      - name: Cache yarn dependencies
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: |
            **\node_modules
          key: vivid-cache-yarn-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install
        env:
          ARTIFACTORY_AUTH_TOKEN: ${{secrets.ARTIFACTORY_AUTH_TOKEN}}

      - name: Test
        run: RUN=CI yarn test:ci

      - name: Build components
        run: yarn nx affected:build --prod --with-deps --base=main

      - name: Raise version of affected libraries
        run: npm version minor --no-git-tag-version --no-push

      - name: get-npm-version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@master

      - name: Push changes
        run: |
          git fetch
          git config user.email "me@yonatankra.com"
          git config user.name "My Companny Repo CI"
          git add --all
          git commit -m "update versions to ${{ steps.package-version.outputs.current-version }}"
          git push

      - name: Tag release
        run: |
          git tag -a v${{ steps.package-version.outputs.current-version }} -m "tag release v${{ steps.package-version.outputs.current-version }}"
          git push --follow-tags











